// ******** IMPORTS VARIABLES COLORS *********** //
@use "./variables_overrides";

// ******** START UTILITIES *********** //
$utilities: (
  "text-color": (
    property: color,
    class: text,
    values: (
      "midnightBlue": variables_overrides.$midnightBlue,
      "royalBlue": variables_overrides.$royalBlue,
      "royalGreen": variables_overrides.$royalGreen,
    ),
  ),
  "background-color": (
    property: background-color,
    class: bg,
    values: (
      "royalBlue": variables_overrides.$royalBlue,
      "cloudWhite": variables_overrides.$cloudWhite,
      "royalBlueLight": variables_overrides.$royalBlueLight,
      "midnightBlue": variables_overrides.$midnightBlue,
      "royalGreen": variables_overrides.$royalGreen,
    ),
  ),
  "padding-y": (
    responsive: true,
    property: padding-top padding-bottom,
    class: py,
    values: (
      0: 0,
      1: variables_overrides.$spacer * 0.25,
      2: variables_overrides.$spacer * 0.5,
      3: variables_overrides.$spacer,
      4: variables_overrides.$spacer * 1.5,
      5: variables_overrides.$spacer * 3,
      6: variables_overrides.$spacer - 0.2,
      7: variables_overrides.$spacer - 0.6,
      8: variables_overrides.$spacer - 0.5,
    ),
  ),
  "padding-x": (
    responsive: true,
    property: padding-left padding-right,
    class: px,
    values: (
      0: 0,
      1: variables_overrides.$spacer * 0.25,
      2: variables_overrides.$spacer * 0.5,
      3: variables_overrides.$spacer,
      4: variables_overrides.$spacer * 1.5,
      5: variables_overrides.$spacer * 3,
      6: variables_overrides.$spacer,
    ),
  ),
  "gap": (
    responsive: true,
    property: gap,
    class: gap,
    values: (
      0: 0,
      1: variables_overrides.$spacer * 0.25,
      2: variables_overrides.$spacer * 0.5,
      3: variables_overrides.$spacer,
      4: variables_overrides.$spacer * 1.5,
      5: variables_overrides.$spacer * 3,
      6: variables_overrides.$spacer * 5,
      7: variables_overrides.$spacer * 12,
    ),
  ),
  "width": (
    property: width,
    class: w,
    responsive: true,
    values: (
      8: 8%,
      25: 25%,
      50: 50%,
      70: 70%,
      75: 75%,
      90: 90%,
      100: 100%,
      auto: auto,
    ),
  ),
  "height": (
    property: height,
    class: h,
    responsive: true,
    values: (
      25: 25%,
      37: 37%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  ),
);
// ******** END UTILITIES *********** //
