// ******** START VARIABLES COLORS *********** //
$midnightBlue: #161c2d;
$royalBlue: #473bf0;
$royalBlueLight: #eaeafd;
$cloudWhite: #f4f7fa;
$royalGreen: #68d585;
// ******** END VARIABLES COLORS *********** //

// ******** START VARIABLES SPACER *********** //
$spacer: 0.7rem !default;
// ******** END VARIABLES SPACER *********** //
