// ******** START NORMALIZE *********** //
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../../../assets/fonts/Inter-Medium.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}
// ******** END NORMALIZE *********** //
